name: ci

on:
  pull_request:
  push:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install tooling
        run: |
          sudo apt-get update
          sudo apt-get install -y jq shellcheck ruby-full shfmt
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20'
          cache: npm
      - run: npm ci
      - run: npm run ci
